
.about-container h2.h2 {
    margin-bottom: 15px;
}

div.topic {
    margin: 5% 0;
    border-left: 1px solid var(--font-color);
    padding-left: 5%;
}

div.tools-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

div.single-tool-container {
    margin-right: 46px;
    width: fit-content;
    height: 50px;
    transition: all 0.3s;
}

div.single-tool-container h2 {
    position: absolute;
    width: 20%;
    opacity: 0;
    font-size: 0.8rem;
    transition: 0.1s;
}

div.single-tool-container:hover h2 {
    opacity: 1;
    transition: 0.3s;
}

div.tools-container img.tool {
    width: 50px;
    height: 50px;
}

div.tools-container img.tool#router {
    height: 30px;
    margin: 10px 0;
}

#router {
    height: 30px;
}

div#router-container {
    display: flex;
    align-items: center;
    height: 50px;
}

div#router-container h2 {
    transform: translateY(75px);
}

.skills-list {
    margin-left: 3%;
}

.skills-list li {
    margin: 5% 0;
}

.formation-container {
    display: flex;
    margin: 5% 0;
    align-items: center;
    border-radius: 5px;
    transition: all 0.2s;
}

.formation-container:hover {
    filter: brightness(1.15);
}

.formation-container img {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    border-radius: 5px;
}

.topic a {
    text-decoration: none;
}

.formation-container p {
    height: 100%;
    color: var(--font-color);
    text-align: bottom;
}

@media screen and (max-width: 1500px) {

    div.tools-container {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    div.single-tool-container {
        display: flex;
        width: 100%;
        margin: 5% 0;
    }

    div.single-tool-container h2 {
        position: inherit;
        width: 100%;
        margin-left: 20px;
    }
    
}

@media screen and (max-width: 800px) {
    div.topic {
        margin: 20% 0;
    }

    .skills-list {
        margin-left: 10%;
    }

    .skills-list li {
        margin: 10% 0;
    }

    .formation-container {
        margin: 15% 0;
    }

    .formation-container p{
        font-size: 0.8.2rem;
    }
    
  }