.contact-container a {
    width: 100%;
    height: 100%;
}

.contact-container form{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.contact-container input,
.contact-container textarea {
    border-radius: 5px;
    background-color: transparent;
    width: 65%;
    height: 50px;
    margin: 2% 0;
    padding: 1% 2.5%;
    border: 1px solid rgba(164, 164, 164, 0.35);
    font-size: 1rem;
    font-family: Blorado, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.contact-container input:focus,
.contact-container textarea:focus {
    outline: none;
}

.contact-container textarea {
    resize: none;
    height: 200px;
    padding: 3% 2.5%;
}

input.submit-btn {
    border: none;
    background-color: var(--font-color);
    color: var(--background-color);
    font-weight: 100;
    width: 25%;
    height: 60px;
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    .contact-container input,
    .contact-container textarea {
        width: 100%;
        padding-left:  6%;
    }

    input.submit-btn {
        width: 60%;
    }

    .contact-container p {
        font-size:  0.8rem;
    }

}