
:root {
  font-family: Blorado, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;

  color-scheme: light dark;

  transition: all 0.2s;

  --font-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --menu-bg-color: #363636;
  --menu-hover-bg-color: #404040;
  --mark-color: #020a13;

  color: var(--font-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

canva {
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.h1 {
  font-size: 3.5rem;
}

.p {
  font-size: 1rem;
  font-weight: 100;
  opacity: 0.9;
}

.h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

.page-container {
  padding: 1% 20% 4% 20%;
}

.marker {
  background-color: var(--mark-color);
  padding: 1px 7px 5px 7px;
  margin-right: 2px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 100;
}

.marker:hover {
  filter: brightness(3);
}

@media screen and (max-width: 800px) {
  .h1 {
    font-size: 1.8rem;
  }

  .page-container {
    margin-top: 25%;
    padding: 1% 10% 4% 10%;
  }
  
}
