#globe-container {
  position: relative;
  width: 100%;
}

canvas {
  position: absolute;
  right: 0;
  opacity: 1;
  transform: translate(20%, -50%);
  z-index: -1;
  rotate: 45deg
}

@media screen and (max-width: 800px) {
  #globe-container {
    width: 70%;
  }

  canvas {
    opacity: 0.1;
  }
}
  
